{% extends "base.html.twig" %}
{% block title 'About Us | ' ~ parent() %}

{% block body %}

    <img src="{{ asset("/img/france-flag-medium.png") }}" alt="france flag" class="rounded-full h-40 w-40 shadow-md my-12">

    <h1>
        built with
        <span class="text-pink-500">&hearts;</span>
        by Yohann Hommet
    </h1>

    <p class="mt-5">
    <a href="{{ path('app_home') }}" class="text-indigo-500 hover:text-indigo-600 underline">Revenir à la page d'accueil</a>
    </p>
  
{% endblock %}