{% extends "base.html.twig" %}

{% block title 'Hello City !' %}

{% block body %}

    <img src="{{ asset("/img/france-flag-medium.png") }}" alt="france flag" class="rounded h-40 shadow-md mt-12">

    <h1 class="mt-6 text-3xl sm:text-5xl font-semibold text-indigo-600">Hello from France !</h1>

    <p class="text-lg text-gray-800">Il est actuellement {{ 'now' | date('H:i') }}</p>


{% endblock %}
